*.pyc
*~
.coverage
dbprocessing_log.log*
coverage_dir/
CVS/
html/
htmlcov/
logfile.txt
old/
Test-Test_R0_evinst_20000111_v1.0.0.cdf
.idea
build/
test_DB/L1/*
test_DB/L2/*
sphinx/build/
docs/autosummary/
.DS_Store

